<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- There are no <script> or css <link> elements, because these are injected
         automatically by the HtmlWebPackPlugin. -->
    
    <!-- The 'title' and 'myPageHeader' properties come from the HtmlWebPackPlugin in
         webpack.config.js. -->
    <title><%= title %></title>
</head>

<body>
<h1> <%= myPageHeader %> </h1>

<div id="app"></div>

</body>
</html>